.App {
    display: flex;
    text-align: center;
    border: 2px solid grey;
    max-width: 700px;
}

.Countries {
    overflow-y: scroll;
    height: 400px;
    border: 1px solid grey;
    margin: 10px;
}

.Country {
    border: 1px solid grey;
    margin: 10px;
    width: 700px;
    position: relative;
}

.img {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px 15px;
    width: 70px;
    height: 50px;
    border: 1px solid grey;
}